<h1>Reading</h1>
<%= form_with(url: root_path, method: :get, local: true) do |f| %>
  <div class="form-group input-group">
    <%= f.text_field :keyword, class: 'form-control', required: true %>
    <div class="input-group-append">
      <%= f.submit '本を検索', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
<%= render 'toppages/book_list', books: @books %>